<% content_for :title, @post.title || 'ChrisZou' %>

<p id="notice"><%= notice %></p>
<div class="post">

  <header class="post-header">
    <h1 class="post-title">
      <%= @post.title %>
    </h1>

    <p class="post-meta"><%= @post.created_at %></p>
  </header>

  <div class="post-content">
    <%= markdown_to_html(@post.content) %>
  </div>
</div>

<%= link_to 'Back', posts_path %>
<% if is_admin %>|
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Destroy', @post, method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>

<div class="comments-divider"></div>

<div class="comments">
  <% @comments.each do |comment| %>
      <div class="comment-item">
        <div>
          <span class="comment-username"><%= "#{comment.username}  " if comment.username %></span><span class="comment-time"><%= comment.created_at %></span>
        </div>
        <div><%= markdown_to_html(comment.content) %></div>
        <% if is_admin %>
            <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete,class: 'comment-delete', data: {confirm: 'Are you sure?'} %>
        <% end %>
      </div>
  <% end %>
</div>

<a name="new_comment"></a>
<%= form_for([@post, @comment], validate: true, html: {class: 'pure-form'}) do |f| %>
    <% if flash[:comment_error] %>
        <div id="error_explanation">
          <%= flash[:comment_error] %>
        </div>
    <% end %>
    <div class="field">
      <%= f.text_area :content, placeholder: '欢迎留言，支持markdown哦！' %>
    </div>
    <div class="field">
      <%= f.text_field :username, placeholder: '大名' %>
    </div>
    <div class="field">
      <%= f.text_field :email, placeholder: '需要填写Email, 方便交流，不公开！' %>
      <div class="actions">
        <%= f.submit '留言', class: 'pure-button pure-button-primary', id: 'post-comment' %>
      </div>
    </div>

<% end %>

